@charset "UTF-8";
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{/*! font-family:sans-serif; */-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{margin:0;color: #fff;font-size: 2.667rem;line-height: 1.3;font-weight: 500;margin-bottom: 0.4em;}
abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
ul{list-style:none; padding: 0;margin-bottom: 0.75em;}
* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Neo Sans Pro'; font-weight: normal;	font-style: normal;}
html,body{overflow-x: hidden;max-width: 100vw;}
main{overflow-x: hidden;max-width: 100vw;}
@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Bold.eot');
	src: local('Neo Sans Pro Bold'), local('NeoSansPro-Bold'),
		url('../fonts/NeoSansPro/NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro/NeoSansPro-Bold.woff') format('woff'),
		url('../fonts/NeoSansPro/NeoSansPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Medium.eot');
	src: local('Neo Sans Pro Medium'), local('NeoSansPro-Medium'),
		url('../fonts/NeoSansPro/NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro/NeoSansPro-Medium.woff') format('woff'),
		url('../fonts/NeoSansPro/NeoSansPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Regular.eot');
	src: local('Neo Sans Pro'), local('NeoSansPro-Regular'),
		url('../fonts/NeoSansPro/NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro/NeoSansPro-Regular.woff') format('woff'),
		url('../fonts/NeoSansPro/NeoSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neo Sans Pro Ultra';
	src: url('../fonts/NeoSansPro/NeoSansPro-Ultra.eot');
	src: local('Neo Sans Pro Ultra'), local('NeoSansPro-Ultra'),
		url('../fonts/NeoSansPro/NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro/NeoSansPro-Ultra.woff') format('woff'),
		url('../fonts/NeoSansPro/NeoSansPro-Ultra.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Neo Sans Pro';
	src: url('../fonts/NeoSansPro/NeoSansPro-Light.eot');
	src: local('Neo Sans Pro Light'), local('NeoSansPro-Light'),
		url('../fonts/NeoSansPro/NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeoSansPro/NeoSansPro-Light.woff') format('woff'),
		url('../fonts/NeoSansPro/NeoSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
:root {
	font-size: 24px;
}

span{font-weight: inherit}
h1>big{font-size: 5.792rem;font-weight: 500;line-height: 1;}
header{position: fixed;width: 100%;background-color: white;padding: 37px 0 12px 0;max-width: 100vw;z-index: 5;padding: 1.542rem 0 0.5rem 0;}
header:after{content: "";position: absolute;width: 100%;background-size: 100% auto;background-repeat: no-repeat;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 1440 16'%3E%3Cpath d='M0 1C2.5.5 5.3.3 8.4.3 39.7.4 39.7 13.1 71 13.1S102.3.4 133.7.4c31.3 0 31.3 12.7 62.6 12.7S227.6.4 258.9.4s31.3 12.7 62.7 12.7C352.9 13 352.9.4 384.2.4s31.3 12.7 62.6 12.7S478.1.4 509.5.4c31.3 0 31.3 12.7 62.6 12.7S603.4.4 634.7.4s31.3 12.7 62.7 12.7C728.7 13 728.7.4 760 .4s31.3 12.7 62.6 12.7S854 .4 885.3.4c31.3 0 31.3 12.7 62.6 12.7S979.2.4 1010.5.4c31.4 0 31.4 12.7 62.7 12.7 31.3 0 31.3-12.7 62.6-12.7s31.3 12.7 62.6 12.7c31.4 0 31.4-12.7 62.7-12.7 31.3 0 31.3 12.7 62.6 12.7S1355 .4 1386.3.4c28 0 31 10.1 53.7 12.3V16H0V1Z' style='fill:%23fff'/%3E%3C/svg%3E");transform: scale(-1, -1);}
header .container{margin: 0 auto;max-width: 1365px;position: relative;display: grid;align-items: center;grid-template-areas: "logo button";grid-template-columns: 1fr max-content;justify-items: center;}
.container{margin: 0 auto;max-width: 56.875rem;padding: 0 20px;}
.header-logo{ grid-area: logo;align-content: center;width: 100%;max-width: 529px;display: flex;max-width: 25.542rem;gap: 1%;}
.header-logo img{width: 100%;}
.header-logo-grammidin{width: 63%;}
.header-logo-coffee{margin-left: 0.01em;margin-top: 0.09em;width: 48%;}
.header-btn{grid-area: button;font-size: 0.667rem;}
.mobile{display: none}
h1 span{display: inline-block; overflow: hidden; white-space: nowrap;clip-path: inset(100% 0 0 0);}
h1 span.reveal-text { animation: textReveal 0.4s ease-out forwards;}
h1 big span{padding-top: 0.2em;margin-top: -0.2em;}
.btn{background: #AD041D;border-radius: 0.417rem;font-weight: bold;font-size: 0.958rem;line-height: 1;text-align: right;text-transform: uppercase;color: #FFFFFF;text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.25), 10px -10px 25px rgba(255, 255, 255, 0.25), -2px 2px 16px rgba(0, 0, 0, 0.25);padding: 0.708rem 3.7rem 0.833rem 0.833rem;text-decoration: none;position: relative;letter-spacing: 0.016em;border: none;}
.btn-wrapper.btn-orange .btn{background:#FFA700}
.btn-wrapper.btn-orange .btn-img-wrapper{background:#FFA700}
.btn>span{font-weight: 500;}
.btn img, .btn-wrapper img{width:100%;height: auto;}
.btn-img-wrapper{right: 0;top: -2.3em;padding: 0.3em;position: absolute;background: #AD041D;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset -1.2px 1.2px 2.4px rgba(255, 255, 255, 0.25), inset 1.2px -1.2px 2.4px rgba(255, 255, 255, 0.25);border-radius: 0.5em;width: 3.3em;height: 3.3em;display: flex;justify-content: center;align-items: center;animation: wobble 0.5s ease-in-out infinite alternate;pointer-events: none;}
.btn-img-wrapper:after{content:"";position: absolute;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='47' height='4' fill='none'%3E%3Cg filter='url(%23filter0_f_239_906)'%3E%3Cellipse cx='23.5' cy='2' fill='url(%23paint0_radial_239_906)' fill-opacity='.3' rx='22.5' ry='1'/%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_239_906' cx='0' cy='0' r='1' gradientTransform='matrix(11.7 0 0 .52 23.5 2)' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23030303'/%3E%3Cstop offset='1' stop-color='%233D080C' stop-opacity='.8'/%3E%3C/radialGradient%3E%3Cfilter id='filter0_f_239_906' width='46.8' height='3.8' x='.1' y='.1' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_239_906' stdDeviation='.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");width: 100%;height: 5px;bottom: -10px;background-repeat: no-repeat;background-position: center;background-size: 100% auto;/*! animation: wobble 0.5s ease-in-out infinite alternate; */}
.btn.small{font-size: 0.667rem;padding: 0.667rem 2.792rem 0.667rem 0.625rem;}
.btn.btn-brown{background: #FFB29A;box-shadow: none;color: #AD041D;text-shadow: none;}
.btn-img-wrapper.brown{/*! right: 0; *//*! top: -1.5em; *//*! padding: 0.4em; */background: #FFB29A;/*! box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset -1.22822px 1.22822px 2.45643px rgba(255, 255, 255, 0.25), inset 1.22822px -1.22822px 2.45643px rgba(255, 255, 255, 0.25); *//*! border-radius: 0.5em; *//*! position: absolute; *//*! width: 3.3em; *//*! height: 3.3em; *//*! text-align: center; */}
.btn-brown  img{width:auto;height: 100%;/*! margin-left: 0.3em; */}
.btn-white{color: #AD041D;text-shadow: 1.18545px -1.18545px 2.37091px rgba(0, 0, 0, 0.25), 11.8545px -11.8545px 29.6363px rgba(255, 255, 255, 0.25), -2.37091px 2.37091px 18.9672px rgba(0, 0, 0, 0.25);background: #FFFFFF;box-shadow: inset -1.45599px 1.45599px 2.91198px rgba(255, 255, 255, 0.25), inset 1.45599px -1.45599px 2.91198px rgba(255, 209, 209, 0.25);}
.btn-white .btn-img-wrapper{background: #FFFFFF;box-shadow: 0px 1.18545px 4.74181px rgba(0, 0, 0, 0.25), inset -1.45599px 1.45599px 2.91198px rgba(255, 255, 255, 0.25), inset 1.45599px -1.45599px 2.91198px rgba(146, 146, 146, 0.25);border-radius: 8px;}
.btn-paint{transition:.5s;transform: translateY(-2rem);}
.btn-paint.active, .btn-orange{transform: translateY(0.2rem);}
.btn-wrapper{position: relative;}
.color-red{color:#DC0026;font-weight: inherit;}

.icon-heart{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' fill='none'%3E%3Cg filter='url(%23filter0_d_226_5697)'%3E%3Cpath fill='%23fff' d='M12.1 2.9a3 3 0 0 0-2-.9 3 3 0 0 0-2.1.9L6.5 4.4 5 2.9A3 3 0 0 0 3 2 3 3 0 0 0 .1 3.9 3.1 3.1 0 0 0 1 7.2l1.4 1.5L6.5 13l5.6-5.8A3 3 0 0 0 13 5a3.1 3.1 0 0 0-.9-2.1Z'/%3E%3Cpath fill='%23FFC4CC' d='M2.2 9 .8 7.4c-.3-.3-.5-.6-.6-1a3.6 3.6 0 0 1 .6-3.5c.5-.6 1.2-.9 2-.9.6 0 1.3.3 1.8 1L6 4.4 2.2 9Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_226_5697' width='17' height='15' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='2'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_226_5697'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_226_5697' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");background-repeat: no-repeat;background-position: right center;padding-right: 1.6em;background-size: 1.1em;font-weight: inherit;}
.icon-heart-red{background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' fill='none'%3E%3Cg filter='url(%23filter0_d_226_5697)'%3E%3Cpath fill='%23ab0b17' d='M12.1 2.9a3 3 0 0 0-2-.9 3 3 0 0 0-2.1.9L6.5 4.4 5 2.9A3 3 0 0 0 3 2 3 3 0 0 0 .1 3.9 3.1 3.1 0 0 0 1 7.2l1.4 1.5L6.5 13l5.6-5.8A3 3 0 0 0 13 5a3.1 3.1 0 0 0-.9-2.1Z'/%3E%3Cpath fill='%23FFC4CC' d='M2.2 9 .8 7.4c-.3-.3-.5-.6-.6-1a3.6 3.6 0 0 1 .6-3.5c.5-.6 1.2-.9 2-.9.6 0 1.3.3 1.8 1L6 4.4 2.2 9Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_226_5697' width='17' height='15' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='2'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_226_5697'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_226_5697' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");background-repeat: no-repeat;background-position: right center;padding-right: 1.6em;background-size: 1.1em;font-weight: inherit;}


.section-top{background-image: url(../img/top-bg-1.webp);background-size: cover;padding-top: 9.967rem;padding-bottom: 4rem;background-position: bottom center;}
.section-text{background-color: #FFB29A;position: relative;padding: 4.3rem 0 5.7rem 0;}
.section-text .container{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.section-text:before{content: "";position: absolute;width: 100%;background-size: 100% auto;background-repeat: no-repeat;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 1440 16'%3E%3Cpath d='M0 1C2.5.5 5.3.3 8.4.3 39.7.4 39.7 13.1 71 13.1S102.3.4 133.7.4c31.3 0 31.3 12.7 62.6 12.7S227.6.4 258.9.4s31.3 12.7 62.7 12.7C352.9 13 352.9.4 384.2.4s31.3 12.7 62.6 12.7S478.1.4 509.5.4c31.3 0 31.3 12.7 62.6 12.7S603.4.4 634.7.4s31.3 12.7 62.7 12.7C728.7 13 728.7.4 760 .4s31.3 12.7 62.6 12.7S854 .4 885.3.4c31.3 0 31.3 12.7 62.6 12.7S979.2.4 1010.5.4c31.4 0 31.4 12.7 62.7 12.7 31.3 0 31.3-12.7 62.6-12.7s31.3 12.7 62.6 12.7c31.4 0 31.4-12.7 62.7-12.7 31.3 0 31.3 12.7 62.6 12.7S1355 .4 1386.3.4c28 0 31 10.1 53.7 12.3V16H0V1Z' style='fill:%23FFB29A'/%3E%3C/svg%3E");top: -16px;height: 16px;background-position: -1vw 0;}
.section-paint{position: relative;background-color: #FFB29A;}
.section-paint .container{display: flex;flex-direction: column;align-items: center;padding-bottom: 3.533rem;padding-top: 2.083rem;overflow: hidden;}
.section-paint:before{background-position: -1vw 0; content: "";position: absolute;width: 100%;background-size: 100% auto;background-repeat: no-repeat;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 1440 16'%3E%3Cpath d='M0 1C2.5.5 5.3.3 8.4.3 39.7.4 39.7 13.1 71 13.1S102.3.4 133.7.4c31.3 0 31.3 12.7 62.6 12.6S227.6.4 258.9.4s31.3 12.7 62.7 12.7C352.9 13 352.9.4 384.2.4s31.3 12.7 62.6 12.7S478.1.4 509.5.4c31.3 0 31.3 12.7 62.6 12.7S603.4.4 634.7.4s31.3 12.7 62.7 12.7C728.7 13 728.7.4 760 .4s31.3 12.7 62.6 12.7S854 .4 885.3.4c31.3 0 31.3 12.7 62.6 12.7S979.2.4 1010.5.4c31.4 0 31.4 12.7 62.7 12.7 31.3 0 31.3-12.7 62.6-12.7s31.3 12.7 62.6 12.7c31.4 0 31.4-12.7 62.7-12.7 31.3 0 31.3 12.7 62.6 12.7S1355 .4 1386.3.4c28 0 31 10.1 53.7 12.3V16H0V1Z' style='fill:%23FFB29A'/%3E%3C/svg%3E");top: -16px;height: 16px;}
.paint-h2{font-weight: 500;font-size: 2.667rem;line-height: 110%;text-align: center;color: #442D25;margin-bottom: 0.3em;}
.paint-p{font-weight: 500;font-size: 1.333rem;line-height: 130%;text-align: center;color: #442D25;margin-bottom: 1.775rem;}
#paint{width: 100%;margin-bottom: 3.542rem;position: relative;height: 19.767rem;}
.paint-poster2{width: 40.3%;position: absolute;right: 9%;top: 13%;transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;box-shadow: 0px 3px 5px 9px rgba(68, 45, 37, 0.3), 0px 11px 4px rgba(0, 0, 0, 0.15);border-radius: 0.708rem;transform: rotate(11deg) scale(0.9);}
.paint-canvas{border-radius: 0.708rem;transform: rotate(-9.7deg) scale(0.56) translateX(-1.5rem);z-index: 1;transition: transform 0.5s ease-in-out;overflow: hidden;box-shadow: 0px 3px 5px 9px rgba(68, 45, 37, 0.3), 0px 11px 4px rgba(0, 0, 0, 0.15);background-color: #fff;width: 34.708rem;}
.paint-poster2.active{transform: rotate(0deg) scale(1.27) translateX(-63.2%) translateY(0);/*! opacity: 0; */pointer-events: none;opacity: 0;transition: transform 0.5s ease-in-out 0s, opacity 0.2s ease-in-out 0.4s;}
.paint-palitra{display: flex;flex-wrap: wrap;width: 21%;gap: 0.8rem 1.3rem;opacity: 0;transition: .3s;transition-delay: 0s;user-select: none;}
.paint-palitra-item{width: 38.9%;cursor: pointer;transition:.3s;border-radius: 50%;overflow: hidden;/*! box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25); */font-size: 0;}
.paint-palitra-item:hover, .paint-palitra-item.active{box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);}
 
.paint-palitra-item.disable{filter: grayscale(90%); cursor: initial; pointer-events: none;opacity: 70%;}
.paint-palitra-item img{width: 100%;}
.paint-palitra-item img:hover{box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);}
.paint-wrapper {position: relative;display: flex;align-items: flex-start;gap: 3.833rem;z-index: 2;width: 100%;margin: 0 auto;max-width: 55.208rem;}
.paint-wrapper.active .paint-canvas {transform: rotate(0deg) scale(1) translateX(0) translateY(0);}
.paint-wrapper.active .paint-palitra{ opacity: 1;pointer-events: initial;transition-delay: .4s;}
.section-taste{position:relative;background-color: #AD041D;}
.section-taste .container{display: flex;flex-direction: column;justify-content: flex-start;align-items: center;text-align: center;padding: 2.2rem 0 3.7rem 0;}
.section-taste::before {  content: "";position: absolute;width: 100%;background-size: 100% auto;background-repeat: no-repeat;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 1440 16'%3E%3Cpath d='M0 1C2.5.5 5.3.3 8.4.3 39.7.4 39.7 13.1 71 13.1S102.3.4 133.7.4c31.3 0 31.3 12.7 62.6 12.7S227.6.4 258.9.4s31.3 12.7 62.7 12.7C352.9 13 352.9.4 384.2.4s31.3 12.7 62.6 12.7S478.1.4 509.5.4c31.3 0 31.3 12.7 62.6 12.7S603.4.4 634.7.4s31.3 12.7 62.7 12.7C728.7 13 728.7.4 760 .4s31.3 12.7 62.6 12.7S854 .4 885.3.4c31.3 0 31.3 12.7 62.6 12.7S979.2.4 1010.5.4c31.4 0 31.4 12.7 62.7 12.7 31.3 0 31.3-12.7 62.6-12.7s31.3 12.7 62.6 12.7c31.4 0 31.4-12.7 62.7-12.7 31.3 0 31.3 12.7 62.6 12.7S1355 .4 1386.3.4c28 0 31 10.1 53.7 12.3V16H0V1Z' style='fill:%23AD041D'/%3E%3C/svg%3E");top: -16px;height: 16px;}
.top-wrapper{display: flex;position: relative;}
.top-pic{transform: translateX(130%);width: 17.792rem;height: auto;margin-top: -3.333rem;margin-right: -0.625rem;opacity: 0;}
 
.top-pic.fromLeft { animation: fromLeft 0.5s ease-out forwards;}
.top-bee{position: absolute;width: 67.083rem;z-index: 1;top: -8.333rem;right: -12.5rem;/*! display: none; */transform: rotate(5deg);height: auto;}


.text-h2{text-align: center;font-weight: 500;font-size: 2.5rem;line-height: 110%;color: #442D25;max-width: 47.375rem;margin-bottom: 0.7em;}
.text-h3{font-weight: 500;font-size: 1.458rem;line-height: 130%;text-align: center;color: #442D25;margin-bottom: 2.5em;max-width: 50rem;}

.taste-h2{font-weight: 500;font-size: 2.667rem;line-height: 110%;text-align: center;color: #FFFFFF;margin-bottom: 0.6em;}
.taste-h3{font-weight: 500;font-size: 1.333rem;line-height: 130%;text-align: center;color: #FFFFFF;max-width: 41.042rem;margin-bottom: 0.3em;}




.taste-animation-list{position: relative;height: auto;width: 100%;min-height: 17.375rem;} 
.taste-animation-item{opacity: 0;position: absolute;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: flex-start;align-items: center;} 
.taste-animation-item.active{opacity: 1} 
.taste-animation-item.active .taste-animation-img{opacity: 1;transform: scale(1);} 
.taste-animation-item.active .taste-animation-img.long{opacity: 1;transform: scale(1.54);} 
.taste-animation-item.active .taste-animation-info{opacity:1;transform: translateY(-50%) translateX(-6.250rem);} 
.taste-animation-item.active .taste-animation-info.long{opacity:1;transform: translateX(-6.208rem);} 
.taste-animation-item.active .taste-animation-title{transform: translateY(0); opacity: 1;} 
.taste-animation-item-0 .taste-animation-img{margin-top: -1.708rem;} 
.taste-animation-item-2 .taste-animation-img {max-width: 21.917rem;margin-right: 7.083rem;} 
.taste-animation-item-3 .taste-animation-img{max-width: 17.292rem;position: relative;left: -3.667rem;} 
.taste-animation-item-4 .taste-animation-img{max-width: 12rem;position: relative;left: -0.833rem;} 
.taste-animation-info-title.long{font-weight: 400;font-size: 1.667rem;line-height: 2rem;color: #FFFFFF;} 
.taste-animation-title{font-weight: 400;font-size: 2.667rem;line-height: 130%;color: #FFFFFF;margin-bottom: 0.6em;transition: .5s;transform: translateY(0.833rem);opacity: 0;} 
.taste-animation-img-wrapper{position: relative;height: 14.708rem;display: flex;align-items: center;justify-content: center;} 
.taste-animation-img-wrapper.long{position: relative;height: 14.708rem;display: flex;align-items: center;justify-content: center;margin-left: -39.667rem;margin-top: 0.708rem;} 
.taste-animation-img{width: 100%;max-width: 10.250rem;opacity: 0;transition: .5s;transform: scale(0.5);} 
.taste-animation-img.long{width: 100%;max-width: 10.250rem;opacity: 0;transition: .5s;transform: scale(1);} 
.taste-animation-info{text-align: left;transform: translateY(-50%);opacity: 0;transition: .7s;margin: -7.042rem -47.083rem 0 0;} 
.taste-animation-info.long{transform: translateX(6.250rem);margin: -11.375rem -27.375rem 0 0} 
.taste-animation-info-title{font-weight: 500;font-size: 1rem;line-height: 130%;text-transform: uppercase;color: #FFFFFF;padding-left: 2.917rem;max-width: 15rem;margin-bottom: 0.583rem;} 
.taste-animation-info-title.long{padding-left: 2.917rem;margin-bottom: 0.583rem;font-weight: 400;font-size: 1.667rem;line-height: 2rem;color: #FFFFFF;width: 21.125rem;max-width: initial;text-transform: inherit;width: 33.458rem;} 
.taste-animation-info-title.long>big{font-size: 1.667rem;font-weight: 500;} 
.taste-animation-info-divider{width: 20.417rem; } 
.taste-animation-info-divider.long{width: 37.792rem;} 
.taste-animation-info-desc{font-weight: 400;font-size: 0.667rem;line-height: 130%;text-transform: uppercase;color: #FFFFFF;padding-left: 2.917rem;max-width: 15rem;margin-top: -1rem;}


footer{position: relative;padding-top: 45px;margin-bottom: 7vh;}
footer:before{ content: "";position: absolute;width: 100%;background-size: 100% auto;background-repeat: no-repeat;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 1440 16'%3E%3Cpath d='M0 1C2.5.5 5.3.3 8.4.3 39.7.4 39.7 13.1 71 13.1S102.3.4 133.7.4c31.3 0 31.3 12.7 62.6 12.7S227.6.4 258.9.4s31.3 12.7 62.7 12.7C352.9 13 352.9.4 384.2.4s31.3 12.7 62.6 12.7S478.1.4 509.5.4c31.3 0 31.3 12.7 62.6 12.7S603.4.4 634.7.4s31.3 12.7 62.7 12.7C728.7 13 728.7.4 760 .4s31.3 12.7 62.6 12.7S854 .4 885.3.4c31.3 0 31.3 12.7 62.6 12.7S979.2.4 1010.5.4c31.4 0 31.4 12.7 62.7 12.7 31.3 0 31.3-12.7 62.6-12.7s31.3 12.7 62.6 12.7c31.4 0 31.4-12.7 62.7-12.7 31.3 0 31.3 12.7 62.6 12.7S1355 .4 1386.3.4c28 0 31 10.1 53.7 12.3V16H0V1Z' style='fill:%23fff'/%3E%3C/svg%3E");top: -16px;height: 16px;}
footer .container{display: flex;flex-wrap: wrap;align-items: flex-start;gap: 2px 36px;padding: 0 20px;max-width: 1365px;}

 
#paint[data-brush="beige"], #paint[data-brush="beige"] .paint-palitra-item{cursor: url('../img/b-beige.svg'), auto;}
#paint[data-brush="red"], #paint[data-brush="red"] .paint-palitra-item{cursor: url('../img/b-red.svg'), auto;}
#paint[data-brush="green"], #paint[data-brush="green"] .paint-palitra-item{cursor: url('../img/b-green.svg'), auto;}
#paint[data-brush="yellow"], #paint[data-brush="yellow"] .paint-palitra-item{cursor: url('../img/b-yellow.svg'), auto;}
#paint[data-brush="brown"], #paint[data-brush="brown"] .paint-palitra-item{cursor: url('../img/b-brown.svg'), auto;}
#paint[data-brush="blue"], #paint[data-brush="blue"] .paint-palitra-item{cursor: url('../img/b-blue.svg'), auto;}
#buttons .button{fill-opacity: 1;pointer-events: none;stroke: #000;}
#buttons .button{/*! cursor:url('../img/brush.min.svg'), auto; */pointer-events: none;}
#buttons .button.clickable{fill-opacity: 0.8;pointer-events: initial;}
#buttons .button.active{fill-opacity: 0;}
.footer-logo{margin-right: auto;margin-bottom: 40px;width: 100%;max-width: 583px;display: flex;max-width: 25.542rem;gap: 1%;}
.footer-logo img{width: 100%}
.footer-logo-grammidin{width: 63%;}
.footer-logo-coffee{margin-left: 0.01em;margin-top: 0.09em;width: 48%;}
.footer-btn{grid-area: button;}


.footer-btn{margin: 0 0 59px 0;font-size: 0.667rem;}
.footer-valenta{display: flex;width: 550px;gap: 37px;margin-bottom: 30px;}
.footer-valenta-logo{}
.footer-valenta-logo img{width: 72px;}
.footer-valenta-text p, .footer-valenta-text a{font-weight: 400;font-size: 14px;line-height: 17px;color: #442D25;opacity: 0.8;}
.footer-valenta-text{}
.footer-oneprice{display: flex;width: 600px;gap: 10px;}
.footer-oneprice-logo{}
.footer-oneprice-text{}
.footer-oneprice-text p, .footer-oneprice-text a{font-weight: 400;font-size: 14px;line-height: 17px;color: #442D25;opacity: 0.8;}
.ligal{position: fixed;bottom: 0;background-color: #fff;font-size: 0;width: 100%;z-index: 2;/*! height: 13vh; */}
.ligal .container{padding: 2px 20px 0 20px;max-width: 1440px;height: 100%;}
.ligal img{/*! /*! width: 100%; */ width: 100%;height: 7vh;max-width: 100%;}

.paint-canvas .button.active{cursor:pointer}

.animation-delay-1{animation-delay: 0s!important}
.animation-delay-2{animation-delay: 0.15s !important;}
.animation-delay-3{animation-delay: 0.3s!important}
.animation-delay-4{animation-delay: 0.45s!important}

header::after{bottom: -1.0vw;height: 1.143vw;}
footer::before{ top: -0.929vw;height: 1.143vw;}
.section-text::before{top: -0.929vw;height: 1.143vw;}
.section-taste::before{top: -0.929vw;height: 1.143vw;}
.section-paint::before{top: -0.929vw;height: 1.143vw;}

.gooey-container {/*! border: none; *//*! padding: 15px; *//*! font-size: 20px; *//*! color: white; *//*! cursor: pointer; *//*! border-radius: 10px; */}
.gooey {/*! border: none; *//*! padding: 15px; *//*! font-size: 20px; *//*! color: white; *//*! cursor: pointer; *//*! border-radius: 10px; */}

#bee{width: 100px;height:100px;}

@keyframes wobble {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes textReveal {
  from {
    clip-path: inset(100% 0 0 0);
		transform: translateY(35px);
  }
  to {
	  clip-path: inset(0 0 0 0);
		transform: translateY(0);
  }
}


@keyframes fromLeft {
  from {
		transform: translateX(130%);
		opacity: 0;
  }
  to {
		transform: translateX(0);
		opacity: 1
  }
}


 
@media (max-width:1400px){
	:root{font-size: 1.7vw;}
}



@media (min-aspect-ratio:144/95){
	:root {font-size: 2.53vh;}
}



@media (max-width:1024px){
	.header-logo, .footer-logo{max-width: 400px;}
}

@media (max-width:768px){
	.gooey-container {filter:none!important;}
	.header-btn{display: none}
	.btn.small{font-size: 16px;padding: 12px 59px 12px 17px;}
	.footer-btn{order: 1;margin-top: 37px;font-size: 16px;}
	.ligal img{transform: none}
}

@media (max-width:640px){
	.mobile{display: block}
	h1{text-align: center;font-size: 25px;margin-bottom: 40px;}
	h1 big{font-size: 55px;}
	.top-wrapper{flex-direction: column;justify-content: center;align-items: center;}
	.top-pic{ margin-bottom: 14px;width: 186px;height: 292px;}
 
 
	.header-logo{max-width: 204px;}
	.btn, .btn-brown{padding: 12px 59px 12px 17px;border-radius: 8px;font-weight: 700;font-size: 16px;line-height: 19px;text-transform: uppercase;white-space: nowrap;display: inline-block;}
	.btn-paint.active, .btn-paint.btn-orange{transform: none}
	.btn-wrapper{font-size: 16px;}
	.btn-img-wrapper.small{font-size: 16px;}
	.btn-img-wrapper{top: -1.8em;}
	.section-top{padding-top: 51px;padding-bottom: 36px;}
	.section-text{padding: 28px 0 28px 0;}
	.text-h2{font-size: 28px;width: 100%;max-width: 320px;}
	.text-h3{font-size: 18px;line-height: 1.3;max-width: 320px;width: 100%;}
	.section-taste{padding: 25px 0 35px 0;}
	.section-taste .container{padding: 1px 10px;}
	.taste-h2{font-size: 32px;margin-bottom: 13px;max-width: 340px;}
	.taste-h3{font-size: 18px;width: 100%;margin-bottom: 0.5em;max-width: 340px;}
	.taste-animation-img-wrapper{width: 100%;height: auto;}
	.taste-animation-list{height: 450px;}
	.taste-animation-title{font-size: 28px;}
	.taste-animation-img{max-width: initial;width: 100%;max-width: 197px;}
	.taste-animation-info-desc{font-weight: 400;font-size: 15px;line-height: 130%;padding-left: 47px;max-width: 100%;margin-top: -15px;}
	.taste-animation-info{margin: 12px 0 0 0;width: 100%;max-width: 340px;}
	.taste-animation-info-title{font-weight: 500;font-size: 22px;padding-left: 47px;max-width: 100%;margin-bottom: 10px;}
	.taste-animation-item-4 .taste-animation-img{max-width: 273px;left: 0;margin-bottom: 24px;}

	.taste-animation-info-divider{width: 328px;}
	.taste-animation-item.active .taste-animation-info{transform: translateX(0);}
	.taste-animation-item-0 .taste-animation-img {  max-width: 270px;   left: 0; }
	.taste-animation-item-1 .taste-animation-img {  max-width: 195px;   left: 0; margin-bottom: -10px;}
	.taste-animation-item-2 .taste-animation-img { width: 401px;  margin-right: 0; max-width: initial;margin: 11px 0 0 -50px;}
	.taste-animation-item-3 .taste-animation-img {  max-width: 380px;   left: 0; margin: 21px 0 0 0;}
		

	.taste-animation-item.active .taste-animation-info.long{transform: translateY(-20px);}
	.taste-animation-item.active .taste-animation-img.long{transform: scale(1);}
	.taste-animation-img-wrapper.long{height: auto;margin-left: 0;margin-top: 0;}
	.taste-animation-img.long{max-width: 200px;margin: -8px 0 19px -3px;transform: scale(0.5);  transition:.5s}
	.taste-animation-info.long { transform: translateY(-50px);    margin: 0 0 0 12px; }
	.taste-animation-info-title.long{font-weight: 500;font-size: 15px;line-height: 1.3;color: #FFFFFF;}


	.taste-animation-info-title.long{padding-left: 25px;width: 100%;font-weight: 400;text-transform: uppercase;}
	.taste-animation-info-title.long > big{font-size: 20px;}
	.taste-animation-info-divider.long{width: 100%}
	
	#paint{height: auto;margin-bottom: 30px;}
	.paint-h2{font-size: 32px;}
	.paint-p{font-size: 18px;max-width: 310px;}
	.paint-wrapper{flex-direction: column; }
	.paint-wrapper { max-width:100%;    gap: 0;}
	.paint-canvas{width: 100%;}
	.paint-poster2.active { transform: rotate(0) scale(1.67) translateX(-52%) translateY(5vw);}
	.paint-wrapper.active .paint-canvas{transform: rotate(0deg) scale(1) translateX(0) translateY(0);}
	.paint-palitra-item{width: 61px;height: 61px;}
	.paint-palitra{width: 100%;justify-content: flex-start;height: 0;gap: 14px;padding: 0;max-width: 229px;margin: 0;align-items: center;align-content: center;pointer-events: none;}
	.paint-wrapper.active .paint-palitra{height: 200px;pointer-events: initial;}

	.section-paint{padding: 38px 0 48px 0;}
	.section-paint .container{padding: 0 20px 10px 20px;}
	
	.footer-logo{max-width: 221px;margin-bottom: 8px;}
	.footer-valenta{width: 100%;gap: 10px;margin-bottom: 9px;}
	.footer-valenta-logo img{width: 23px;}
	.footer-valenta-text{line-height: 0.9;}
	.footer-oneprice{width: 100%;}
	.footer-oneprice-logo img{width: 23px;}
	footer{padding-top: 17px;margin-bottom: 7vh;}
	
	.top-bee{position: absolute;width: 387px;z-index: 1;top: 100px;right: 50%;transform: rotate(79deg) translateX(48%) translateY(44px);height: auto;transform-origin: 100% 50%;}

	@keyframes fromLeft {
  from {
		transform: scale(0);
		opacity: 0;
  }
  to {
		transform: scale(1);
		opacity: 1
  }
}
}

@media (max-width:460px) {
	.icon-heart, .icon-heart-red{font-size: 13px;}
}